# Python
__pycache__/
*.py[cod]
*.class
*.so
venv/
.venv/

# Data and Models
*.pth
*.png
*.jpg
*.jpeg
*.mp4
*.mkv
*.avi
*.m4a
*.mp3
*.wav

# Project Specific
backend/output/
backend/data/
backend/data for testing/

# Env Variables
.env
.env.*

# Frontend / Node
frontend/node_modules/
frontend/dist/
frontend/build/
.DS_Store
